In [19]:
import polars as pl

In [20]:
# Group inspections per year, remove duplicates, and merge IDs from both sheets.
early_years = (
    pl.read_csv(
        "./data/inspections_16-18.csv",
        dtypes=[pl.Utf8, pl.Int64, pl.Int64, pl.Int64, pl.Int64],
    )
    .drop(["Grand Total"])
    .with_columns(pl.all().fill_null(0))
)
later_years = pl.read_csv(
    "./data/inspections_19-23.csv",
    dtypes=[
        pl.Utf8,
        pl.Int64,
        pl.Int64,
        pl.Int64,
        pl.Int64,
        pl.Int64,
        pl.Int64,
    ],
).drop(["Grand Total"])
merged_df = early_years.join(
    later_years, left_on="Unit_Code", right_on="Unit", how="outer"
)
grouped_df = merged_df.groupby("Unit_Code").agg(
    pl.col("2016").sum(),
    pl.col("2017").sum(),
    pl.col("2018").sum(),
    pl.col("2019").sum(),
    pl.col("2020").sum(),
    pl.col("2021").sum(),
    pl.col("2022").sum(),
    pl.col("2023").sum(),
)
grouped_df = grouped_df.with_columns(
    grouped_df.select(pl.all().exclude("Unit_Code"))
    .sum(axis=1)
    .alias("Sum Inspections")
)

In [27]:
# Import and munge payments data.
payments_df = (
    pl.read_csv(
        "./data/payments-15-23.csv",
        dtypes=[
            pl.Utf8,
            pl.Int64,
            pl.Int64,
            pl.Int64,
            pl.Int64,
            pl.Int64,
            pl.Int64,
            pl.Int64,
            pl.Int64,
            pl.Int64,
        ],
    )
    .drop(["Grand Total"])
    .filter(pl.col("Unit_ID") != "Grand Total")
    .with_columns(pl.all().fill_null(0))
)
payments_df = payments_df.with_columns(
    payments_df.select(pl.all().exclude("Unit_ID"))
    .sum(axis=1)
    .alias("Sum Payments")
)

shape: (556, 11)
┌──────────┬───────┬───────┬───────┬───┬───────┬───────┬──────┬──────────────┐
│ Unit_ID  ┆ 2015  ┆ 2016  ┆ 2017  ┆ … ┆ 2021  ┆ 2022  ┆ 2023 ┆ Sum Payments │
│ ---      ┆ ---   ┆ ---   ┆ ---   ┆   ┆ ---   ┆ ---   ┆ ---  ┆ ---          │
│ str      ┆ i64   ┆ i64   ┆ i64   ┆   ┆ i64   ┆ i64   ┆ i64  ┆ i64          │
╞══════════╪═══════╪═══════╪═══════╪═══╪═══════╪═══════╪══════╪══════════════╡
│ 1001324  ┆ 0     ┆ 0     ┆ 0     ┆ … ┆ 7154  ┆ 11379 ┆ 1896 ┆ 20429        │
│ 1002618  ┆ 10434 ┆ 20517 ┆ 19479 ┆ … ┆ 18744 ┆ 12496 ┆ 6248 ┆ 147542       │
│ 1003440  ┆ 3870  ┆ 7509  ┆ 6816  ┆ … ┆ 0     ┆ 0     ┆ 0    ┆ 21035        │
│ 1004080  ┆ 0     ┆ 10103 ┆ 9946  ┆ … ┆ 11548 ┆ 1133  ┆ 0    ┆ 67223        │
│ …        ┆ …     ┆ …     ┆ …     ┆ … ┆ …     ┆ …     ┆ …    ┆ …            │
│ I7033201 ┆ 0     ┆ 4752  ┆ 13920 ┆ … ┆ 0     ┆ 0     ┆ 0    ┆ 50898        │
│ I7034307 ┆ 0     ┆ 0     ┆ 12588 ┆ … ┆ 11949 ┆ 10830 ┆ 0    ┆ 74335        │
│ I7034869 ┆ 0     ┆ 0     ┆ 5914  ┆ … ┆ 8916  ┆ 9288  ┆ 2322 ┆ 51813        │
│ I9000987 ┆ 6204  ┆ 12318 ┆ 12228 ┆ … ┆ 11500 ┆ 16505 ┆ 2462 ┆ 99551        │
└──────────┴───────┴───────┴───────┴───┴───────┴───────┴──────┴──────────────┘

In [34]:
# Combine
inspection_payment_df = grouped_df.join(
    payments_df, left_on="Unit_Code", right_on="Unit_ID", how="outer"
).with_columns(pl.all().fill_null(0))
inspection_payment_df = inspection_payment_df.select(
    ["Unit_Code", "Sum Inspections", "Sum Payments"]
)
inspection_payment_df

shape: (715, 3)
┌───────────┬─────────────────┬──────────────┐
│ Unit_Code ┆ Sum Inspections ┆ Sum Payments │
│ ---       ┆ ---             ┆ ---          │
│ str       ┆ i64             ┆ i64          │
╞═══════════╪═════════════════╪══════════════╡
│ 4112043   ┆ 1               ┆ 0            │
│ 7035047   ┆ 2               ┆ 0            │
│ 4000444   ┆ 15              ┆ 70389        │
│ 5000336   ┆ 10              ┆ 80211        │
│ …         ┆ …               ┆ …            │
│ I4015851  ┆ 0               ┆ 12777        │
│ 1110015   ┆ 0               ┆ 47044        │
│ 4016162   ┆ 0               ┆ 5671         │
│ 1094404   ┆ 0               ┆ 1538         │
└───────────┴─────────────────┴──────────────┘